@charset "utf-8";

/* Set the default <body> properties. */
body {
	background-color: #A4A4A4;
	color: white;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;

    
}
@font-face {
    font-family: Selima;
    src: url(../_fonts/selima.otf);
}


header {
    background-image: url(../_img/initation.JPG);
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

header h1{
    text-align: center;
    font-family: Selima;
    color: royalblue;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 5em;
    margin: 0px;
    margin-bottom: 4px;
}

.volume {
    color: white;
    text-shadow: -3px 0 royalblue, 0 3px royalblue, 3px 0 royalblue, 0 -3px royalblue;
}

nav {
    overflow: hidden;
    position: relative;
    top: -19px;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    background-color: black;
    text-align: center;
    }

nav ul{
    list-style: none;
    margin-top: 0px;
    padding-left: 0px;
}

/* Style the links inside the navigation bar */
nav a {
    width: 150px;
    background-color: black;
    float: left;
    display: inline-block;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0px 10px 0px;
}

/* Change the color of links on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

#currentPage {
	background-color: royalblue;
	color: white;
}

main {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 25px;
    font-size: 2.5rem;
    color: royalblue;
    font-family: Selima;
    
}

h2{
    font-family: Selima;
    font-size: 50px;
    font-size: 3.0rem;
    font-weight: normal;
    text-align: left;
    color: royalblue;
    margin-top:0px;
    margin-bottom: 5px;
}

h3{
    color: #bedcdb;
    font-size: 18px;
    font-size: 1.0rem;
}

section {
    margin-bottom: 15px;
}

#external p{
    width:500px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    float: left;
}

#external figure {
    width:280px;
    float: right;
    vertical-align: top;
}

figcaption {
    color: black;
}

#intro img, #sisterhood img, #service img {
    width: 297px;
}


#video p{
    width:330px;
    padding-right: 10px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left;
    float: right;
    
}
#video iframe {
    margin-top: 10px;
    float left;
}

#professionalevents li {
    color:royalblue;
    list-style: none;
    font-family: Selima;
    font-size: 2em;
}

#professionalevents p {
    color:white;
    font-size: .5em;
    font-family: 'Open Sans', sans-serif;
}

.spotlight {
    width:290px;
    height: 175px;
    border: 2px solid white;
    display: inline-block;
    vertical-align: top;
    background-color: lightgrey;
    color: slategray;
    margin: 1px .5px 1px .5px;
}

.spotlight .location {
    color: white;
    font-size: 2em;
    margin-top: 2px;
}

#heather h2 {
    font-size: 3.1em;
}

#serviceevents ul {
    width:900px;
    margin-bottom:20px;
    overflow:hidden;
}

#serviceevents li {
    list-style: circle;
    width:50%;
    line-height:1.5em;
    float:left;
    display:inline;
}

footer {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: black;
    height:2.8em;
    font-size: 1em;
}
footer ul {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: top;
}
footer a {
    width: 80px;
    background-color: black;
    color: #f2f2f2;
    float: right;
    text-decoration: none;
    text-align: center; 
}

footer a:hover {
    color:royalblue;
}

footer p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:0px;
}