@charset "utf-8";

/* Set the default <body> properties. */
body {
	background-color: lightgrey;
	color: white;
    font-size: 0.9em;
    
}
@font-face {
    font-family: Selima;
    src: url(../_fonts/selima.otf);
}


header {
    background-image: url(../_img/group.JPG);
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

header h1{
    text-align: center;
    font-family: Selima;
    color: royalblue;
    font-size: 5em;
    margin: 0px;
    margin-bottom: 4px;
}

nav {
    overflow: hidden;
    position: relative;
    top: -19px;
    width: 100%;
    margin-left: 0px;
    background-color: black;
    text-align: center;
    }

/* Style the links inside the navigation bar */
nav a {
    width: 150px;
    background-color: black;
    float: left;
    display: inline-block;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0px 10px 0px;
}

/* Change the color of links on hover */
nav a:hover, {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
nav a.active {
    background-color: #4CAF50;
    color: white;
}

#currentPage {
	background-color: royalblue;
	color: white;
}

main {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 25px;
    font-size: 2.5rem;
    color: royalblue;
    font-family: Selima;
    
}

h2{
    font-family: Selima;
    font-size: 50px;
    font-size: 3.0rem;
    font-weight: normal;
    text-align: left;
    color: royalblue;
    margin-top:0px;
    margin-bottom: 5px;
}

h3{
    color: #bedcdb;
    font-size: 18px;
    font-size: 1.0rem;
}

#pics img {
    width: 297px;
}


#video {
    width:560px;
    padding-right: 10px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left;
    
}

#recruit h2 {
    text-align: right;
}

#recruit {
    width:330px;
    padding-left: 10px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    text-align: right;
}
